@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 0 0% 26%;
    --card: 0 0% 83% / 45%;
    --card-foreground: 0 0% 26%;
    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 26%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 83.1%;
    --input: 0 0% 83.1%;
    --ring: 0 0% 26%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  *::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-neutral-400/60;
  }

  *::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-moz-selection {
    @apply bg-foreground text-background;
  }

  ::selection {
    @apply bg-card text-foreground;
  }
}

.highlight {
  @apply bg-card text-foreground font-bold rounded-none before:content-['`'] after:content-['`'];
}

.hint {
  @apply px-3 py-2 border-[1px] border-solid border-l-4;
}

.hint.tip {
  @apply bg-teal-800/10 text-teal-900 border-teal-900/40;
}

.hint.warn {
  @apply bg-amber-800/10 text-amber-900 border-amber-900/40;
}

.hint.error {
  @apply bg-rose-800/10 text-rose-900 border-rose-900/40;
}

.prose {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lora;
  }

  hr {
    @apply border-border border-[0.5px];
  }

  u {
    @apply underline underline-offset-4 decoration-dotted decoration-1;
  }

  .subheading-anchor {
    color: var(--tw-prose-links);
    @apply bg-transparent hover:bg-transparent no-underline;
  }

  a {
    @apply underline underline-offset-4 decoration-dotted decoration-1 font-semibold before:content-['['] after:content-[']'] before:opacity-60 before:hover:opacity-0 after:hover:opacity-0 after:opacity-60 hover:bg-black hover:text-background;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
